-- MySQL dump 10.13  Distrib 8.4.7, for Linux (x86_64)
--
-- Host: localhost    Database: demo
-- ------------------------------------------------------
-- Server version	8.4.7

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Client`
--

DROP TABLE IF EXISTS `Client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Client` (
  `id_client` int NOT NULL,
  `PIB` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `pasportni_dani` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email1` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_client`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Client`
--

LOCK TABLES `Client` WRITE;
/*!40000 ALTER TABLE `Client` DISABLE KEYS */;
/*!40000 ALTER TABLE `Client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Payment`
--

DROP TABLE IF EXISTS `Payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Payment` (
  `id_Payment` int NOT NULL,
  `id_Reservation` int DEFAULT NULL,
  `summa` decimal(10,2) DEFAULT NULL,
  `method` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `data_payment` date DEFAULT NULL,
  PRIMARY KEY (`id_Payment`),
  KEY `fk_payment_reservation` (`id_Reservation`),
  CONSTRAINT `fk_payment_reservation` FOREIGN KEY (`id_Reservation`) REFERENCES `Reservation` (`id_Reservation`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Payment`
--

LOCK TABLES `Payment` WRITE;
/*!40000 ALTER TABLE `Payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `Payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Reservation`
--

DROP TABLE IF EXISTS `Reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Reservation` (
  `id_Reservation` int NOT NULL,
  `id_Client` int DEFAULT NULL,
  `data_zaizdu` date DEFAULT NULL,
  `data_vyizdu` date DEFAULT NULL,
  PRIMARY KEY (`id_Reservation`),
  KEY `fk_reservation_client` (`id_Client`),
  CONSTRAINT `fk_reservation_client` FOREIGN KEY (`id_Client`) REFERENCES `Client` (`id_client`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Reservation`
--

LOCK TABLES `Reservation` WRITE;
/*!40000 ALTER TABLE `Reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `Reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Service`
--

DROP TABLE IF EXISTS `Service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Service` (
  `id_Service` int NOT NULL,
  `name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `price` int DEFAULT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  PRIMARY KEY (`id_Service`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Service`
--

LOCK TABLES `Service` WRITE;
/*!40000 ALTER TABLE `Service` DISABLE KEYS */;
INSERT INTO `Service` VALUES (1,'????????????????',300,'???????????????? ?? ??????????????????'),(2,'????????',400,'???????? ?? ??????????????????'),(3,'????????????',500,'???????????? ?? ??????????????????'),(4,'??????',800,'??????-??????????????'),(5,'??????????',700,'???????????? ??????????'),(6,'????????????',200,'???????????? ??????????'),(7,'????????????????',600,'???????????????? ?? ??????????????????'),(8,'????????????',250,'????????????-??????'),(9,'??????????',400,'??????????'),(10,'????????????',300,'???????????????????????? ????????????????');
/*!40000 ALTER TABLE `Service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `UseOfService`
--

DROP TABLE IF EXISTS `UseOfService`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `UseOfService` (
  `id_UseOfService` int NOT NULL,
  `id_Reservation` int DEFAULT NULL,
  `id_Service` int DEFAULT NULL,
  `amount` int DEFAULT NULL,
  `total_amount` int DEFAULT NULL,
  PRIMARY KEY (`id_UseOfService`),
  KEY `fk_useofservice_reservation` (`id_Reservation`),
  KEY `fk_useofservice_service` (`id_Service`),
  CONSTRAINT `fk_useofservice_reservation` FOREIGN KEY (`id_Reservation`) REFERENCES `Reservation` (`id_Reservation`),
  CONSTRAINT `fk_useofservice_service` FOREIGN KEY (`id_Service`) REFERENCES `Service` (`id_Service`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `UseOfService`
--

LOCK TABLES `UseOfService` WRITE;
/*!40000 ALTER TABLE `UseOfService` DISABLE KEYS */;
INSERT INTO `UseOfService` VALUES (1,1,1,2,600),(2,1,4,1,800),(3,2,2,2,800),(4,3,3,1,500),(5,3,5,1,700),(6,4,4,2,1600),(7,5,6,3,600),(8,6,7,1,600),(9,7,8,2,500),(10,8,9,1,400),(11,9,10,2,600),(12,10,1,3,900),(13,11,2,1,400),(14,12,3,2,1000),(15,13,4,1,800),(16,14,5,2,1400),(17,15,6,2,400),(18,16,7,1,600),(19,17,8,1,250),(20,18,9,2,800);
/*!40000 ALTER TABLE `UseOfService` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-05 22:13:36
