version: "3.9"

services:
  mysql_primary:
    image: mysql:8.4
    container_name: mysql_primary
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: demo
    ports:
      - "3306:3306"
    command:
      [
        "mysqld",
        "--server-id=1",
        "--log-bin=mysql-bin",
        "--general-log=1",
        "--slow-query-log=1",
        "--long-query-time=2"
      ]
    volumes:
      - mysql_primary_data:/var/lib/mysql

  mysql_replica:
    image: mysql:8.4
    container_name: mysql_replica
    environment:
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - "3307:3306"
    depends_on:
      - mysql_primary
    command:
      [
        "mysqld",
        "--server-id=2",
        "--log-bin=mysql-bin",
        "--relay-log=mysql-relay-bin"
      ]
    volumes:
      - mysql_replica_data:/var/lib/mysql

volumes:
  mysql_primary_data: {}
  mysql_replica_data: {}
